In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\python39\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10" in c:\python39\lib\site-packages (from pandas) (1.20.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\python39\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

WARNING: You are using pip version 20.2.3; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\python39\python.exe -m pip install --upgrade pip' command.

In [2]:
import tweepy
import webbrowser
import time
import pandas as pd

In [3]:
consumer_key = "XlAMtRwbiXMA1rwSLUlBXnl0b"
consumer_secret = "XEpXzKiSNlGl1M5oeLwj2a7lHmVi9vCOq7rr1D8yQg83mBdBRy"

In [4]:
callback_uri = 'oob'

In [5]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret, callback_uri)
redirect_url = auth.get_authorization_url()
print(redirect_url)

https://api.twitter.com/oauth/authorize?oauth_token=h4nHeQAAAAABB3E4AAABflX_pQQ

In [6]:
webbrowser.open(redirect_url)

True

In [7]:
user_pin_input = input("What's the pin value? ")

What's the pin value? 3551060

In [8]:
auth.get_access_token(user_pin_input)

('4882418077-H17IYcDzcREjz2pEtuse1d5spmpWxFLETtteQyE',
 '0ikHwuh3Zq6WKMi0LyONvexVYnn2C8Lwjf2GnM1RkFxC3')

In [9]:
print(auth.access_token, auth.access_token_secret)

4882418077-H17IYcDzcREjz2pEtuse1d5spmpWxFLETtteQyE 0ikHwuh3Zq6WKMi0LyONvexVYnn2C8Lwjf2GnM1RkFxC3

In [10]:
api = tweepy.API(auth)

In [11]:
my_timeline = api.home_timeline()

In [21]:
columns = set()
allowed_types = [str, int]
tweets_data = []
for status in my_timeline:
    status_dict = dict(vars(status))
    keys = status_dict.keys()
    single_tweet_data = {"user": status.user.screen_name, "author": status.author.screen_name}
    for k in keys:
        try:
            v_type = type(status_dict[k])
        except:
            v_type = None
        if v_type != None:
            if v_type in allowed_types:
                single_tweet_data[k] = status_dict[k]
                columns.add(k)
    tweets_data.append(single_tweet_data)
header_cols = list(columns)
header_cols.append('user')
header_cols.append('author')

In [22]:
df = pd.DataFrame(tweets_data, columns = header_cols)
df.head()

,quoted_status_id_str,id,source,text,source_url,retweet_count,id_str,in_reply_to_status_id,quoted_status_id,favorite_count,in_reply_to_status_id_str,in_reply_to_user_id_str,in_reply_to_screen_name,lang,in_reply_to_user_id,user,author
0,NaN,1481778089394851840,Twitter Media Studio,He's been the fungus among us for quite some t...,https://studio.twitter.com,484,1481778089394851840,NaN,NaN,5186,NaN,NaN,NaN,en,NaN,FortniteGame,FortniteGame
1,NaN,1481773195321561088,Twitter Web App,1 horse ≠ 1 horsepower (It's about 15 hp max)\...,https://mobile.twitter.com,190,1481773195321561088,NaN,NaN,3235,NaN,NaN,NaN,en,NaN,MKBHD,MKBHD
2,NaN,1481772338299514880,Twitter for iPhone,RT @samberkhead: Tell me you’re a vegetarian i...,http://twitter.com/download/iphone,11,1481772338299514880,NaN,NaN,0,NaN,NaN,NaN,en,NaN,vboykis,vboykis
3,1481730709224099843,1481765181382434818,Twitter Web App,Joining four other Turing Laureates as a forei...,https://mobile.twitter.com,2,1481765181382434818,NaN,1.481731e+18,25,NaN,NaN,NaN,en,NaN,ylecun,ylecun
4,NaN,1481763129042165767,Twitter Web App,RT @googledevs: ✨ Transitions can be difficult...,https://mobile.twitter.com,19,1481763129042165767,NaN,NaN,0,NaN,NaN,NaN,en,NaN,FlutterDev,FlutterDev

In [26]:
def extract_timeline_as_df(timeline_list):
    columns = set()
    allowed_types = [str, int]
    tweets_data = []
    for status in my_timeline:
        status_dict = dict(vars(status))
        keys = status_dict.keys()
        single_tweet_data = {"user": status.user.screen_name, "author": status.author.screen_name}
        for k in keys:
            try:
                v_type = type(status_dict[k])
            except:
                v_type = None
            if v_type != None:
                if v_type in allowed_types:
                    single_tweet_data[k] = status_dict[k]
                    columns.add(k)
        tweets_data.append(single_tweet_data)
    header_cols = list(columns)
    header_cols.append('user')
    header_cols.append('author')
    df = pd.DataFrame(tweets_data, columns = header_cols)
    return df

In [27]:
df2 = extract_timeline_as_df(my_timeline)
df2.head()

,quoted_status_id_str,id,source,text,source_url,retweet_count,id_str,in_reply_to_status_id,quoted_status_id,favorite_count,in_reply_to_status_id_str,in_reply_to_user_id_str,in_reply_to_screen_name,lang,in_reply_to_user_id,user,author
0,NaN,1481778089394851840,Twitter Media Studio,He's been the fungus among us for quite some t...,https://studio.twitter.com,484,1481778089394851840,NaN,NaN,5186,NaN,NaN,NaN,en,NaN,FortniteGame,FortniteGame
1,NaN,1481773195321561088,Twitter Web App,1 horse ≠ 1 horsepower (It's about 15 hp max)\...,https://mobile.twitter.com,190,1481773195321561088,NaN,NaN,3235,NaN,NaN,NaN,en,NaN,MKBHD,MKBHD
2,NaN,1481772338299514880,Twitter for iPhone,RT @samberkhead: Tell me you’re a vegetarian i...,http://twitter.com/download/iphone,11,1481772338299514880,NaN,NaN,0,NaN,NaN,NaN,en,NaN,vboykis,vboykis
3,1481730709224099843,1481765181382434818,Twitter Web App,Joining four other Turing Laureates as a forei...,https://mobile.twitter.com,2,1481765181382434818,NaN,1.481731e+18,25,NaN,NaN,NaN,en,NaN,ylecun,ylecun
4,NaN,1481763129042165767,Twitter Web App,RT @googledevs: ✨ Transitions can be difficult...,https://mobile.twitter.com,19,1481763129042165767,NaN,NaN,0,NaN,NaN,NaN,en,NaN,FlutterDev,FlutterDev

In [28]:
user = api.get_user('MKBHD')
user_timeline = user.timeline()
df3 = extract_timeline_as_df(user_timeline)
df3.head()

TypeError: get_user() takes 1 positional argument but 2 were given